.App {
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom,rgba(10,150,200,0.3), rgba(230,200,240,0.2),rgba(10,130,130,0.6));
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Style of user info */
.user-info-container {
  text-align: left;
  margin: 10px auto;
}

#user-info-list {
  border: 1px dashed lightslategray;
  border-radius: 6px;
  background: rgba(55, 179, 7, 0.3);
}

#get-users-info-box {
  border: 1px dashed lightslategray;
  border-radius: 6px;
  text-align: center;
  margin: 8px auto;
}

.scrolling-wrapper-flexbox {
  margin-top: 11vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.user-card {
  flex: 0 0 auto;
}

#modify-user-info-box {
  width : auto;
}

.user-info-input {
  width: auto;
  border: 1px solid black;
}

.person-box {
  font-size:2.1vh;
  padding: 0.3px;
  height: 25vh;
}

#update-user-button {
  font-size:2.1vh;
  width: auto;
}